*{
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-image: url('./images/sidelakodu.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}